/* Reset and basic styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #e2c792;
}

/* Form container styling */
.form-container {
  width: 340px;
  padding: 30px;
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 1px solid #405c34;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #8fc29b;
  font-size: 1.8em;
}

/* Form group and label styling */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #8fc29b;
  font-size: 0.9em;
}

/* Input styling */
.form-input {
  width: 100%;
  padding: 10px;
  background-color: #2e2d2b;
  border: 1px solid #405c34;
  border-radius: 8px;
  color: #e2c792;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #8fc29b;
}

/* Button styling */
.form-button {
  width: 100%;
  padding: 12px;
  background-color: #405c34;
  color: #e2c792;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.form-button:hover {
  background-color: #8fc29b;
  color: #1f1f1f;
  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 20px;
  background-color: #2e2d2b; /* Dark background */
  font-family: 'Courier New', Courier, monospace;
}

/* Styling for the button container */
.button-container {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 40px;
  top: 30px;
}

/* Button styling to match retro Irish theme */
.button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #e2c792; /* Muted gold text */
  background-color: #405c34; /* Dark green background */
  border: 1px solid #8fc29b; /* Soft green border */
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #8fc29b; /* Lighter green on hover */
  color: #1f1f1f;
  transform: scale(1.05);
}

.button a {
  color: inherit;
  text-decoration: none;
}

.fade-in {
    animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}